.consultation {
	background-color: #e7f3ff;
}
.consultation-block {
	background-image: url("../img/consultation/1.png");
	background-repeat: no-repeat;
	background-position-x: 100%;
	height: 614px;
	display: flex;
	align-items: center;
}
.consultation-item {
}
.consultation-head {
	display: flex;
	flex-direction: column;
	width: 480px;
	font-size: 18px;
	line-height: 160%;
	color: var(--font-color);
}
.guests {
	text-align: center;
	a {
		font-size: 18px;
		line-height: 110%;
		color: var(--main-color);
		&:hover {
			text-decoration: underline;
		}
	}
}
