@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("../fonts/sourcesansprosemibold.woff2") format("woff2"), url("../fonts/sourcesansprosemibold.woff") format("woff");
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/SourceCodePro-Black.woff2") format("woff2"), url("../fonts/SourceCodePro-Black.woff") format("woff");
}
