.simple-page{
  padding: 70px 0;
  h1{
    margin-bottom: 70px;
  }
  h2{
    margin: 40px 0 20px;
  }
  ul{
    li{
      & + li{
        margin-top: 15px;
      }
    }
  }
}

.legal{

  .document-link{
    font-size: 22px;
    font-weight: bold;
  }
}